ul {
  list-style: none; }

a {
  text-decoration: none; }

.accordion-menu li.open .dropdownlink {
  color: #cddc39; }
  .accordion-menu li.open .dropdownlink .fa-chevron-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0; }

.dropdownlink {
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  font-family: Roboto;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .dropdownlink span {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ea6c46;
    margin-left: 18px; }

.submenuItems {
  display: none; }
  .submenuItems input {
    width: 17px;
    height: 17px;
    cursor: pointer; }
  .submenuItems label {
    font-size: 16px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer; }
    .submenuItems label:hover {
      color: #948ee4;
      font-weight: bold; }
