.course {
  background-color: #f9f7fc;
  padding: 45px 0;
  text-align: center; }
  .course__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; }
  .course__discription {
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #333333;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin-right: 22px; }
  .course__title {
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #333333;
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 45px; }
  .course__select {
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #5a9dd7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #ebe5e5;
    border-radius: 3px;
    background: url(../img/select_img.png) no-repeat center right 25px;
    background-color: #fff;
    padding: 13px 130.5px 13px 21.5px; }
    .course__select option {
      color: black; }
  .course__item {
    background-color: #fff;
    margin-right: 28px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.14);
    width: 362px;
    height: 232px;
    text-decoration: none;
    padding-left: 33px; }
    .course__item:hover {
      background-color: #ea6c46; }
      .course__item:hover > .course__title, .course__item:hover .course__subtitle, .course__item:hover .course__time {
        color: white; }
    .course__item button {
      font-size: 0;
      width: 26px;
      height: 26px;
      background-color: #ffffff;
      border: 1.0px solid #948ee4;
      border-radius: 50%;
      outline: none; }
    .course__item li {
      list-style: none;
      margin: 0 15px; }
      .course__item li:nth-child(1n+4) {
        display: none; }
    .course__item li.slick-active button {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center; }
      .course__item li.slick-active button::after {
        content: "";
        position: absolute;
        background-color: #948ee4;
        width: 14px;
        height: 14px;
        border-radius: 50%; }
  .course__subtitle {
    font-family: Roboto;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #777777;
    -moz-text-align-last: left;
    text-align-last: left;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0; }
  .course__time {
    font-family: Roboto;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #ea6c46;
    margin-top: 64px;
    text-align: left; }
  .course__button {
    padding: 11px 57px;
    background-color: #ffffff;
    border: 1.0px solid #948ee4;
    border-radius: 21.5px;
    margin: 45px auto;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #948ee4; }
