@charset "UTF-8";
.modal__enter, .modal__reg {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0; }
  .modal__enter:target, .modal__reg:target {
    opacity: 1;
    /* делаем окно видимым */
    pointer-events: auto;
    /* элемент видим для событий мыши */
    overflow-y: auto;
    /* добавляем прокрутку по y, когда элемент не помещается на страницу */ }

.modal__dialog {
  position: relative;
  width: 30%;
  margin: auto; }

.modal__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: 0;
  padding: 50px; }

.modal__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
  text-transform: uppercase; }

.modal__title {
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto; }

.modal__body {
  padding: 15px;
  text-align: center; }
  .modal__body form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .modal__body label {
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 20px;
    width: 300px;
    border: 1px solid black;
    padding-top: 10px; }
  .modal__body input {
    min-width: 200px;
    margin-left: 5px;
    display: -webkit-box;
    display: flex; }
  .modal__body button {
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
    background-color: #948ee4;
    border-radius: 21.5px;
    color: white;
    padding: 8px 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Roboto;
    border: none;
    outline: none; }

.close {
  position: absolute;
  right: -20px;
  top: -20px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-decoration: none; }
  .close:focus, .close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
    opacity: .75; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none; }
  .modalDialog:target {
    display: block;
    pointer-events: auto; }

.window {
  position: relative;
  margin: 200px auto;
  z-index: 3;
  width: 800px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 5px10px rgba(0, 0, 0, 0.3);
  border-radius: 6.0px; }
  .window__wrapp {
    display: -webkit-box;
    display: flex;
    justify-content: space-around; }
  .window__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #333333; }

.enter, .registration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  width: 47%;
  background-color: #f9f7fc;
  border-radius: 3px;
  padding: 26px 35px; }

.enter__form {
  margin-top: 38px; }

.enter__email, .enter__password {
  width: 278px;
  height: 43px;
  background-color: #ffffff;
  border: 1.0px solid #d4d4d4;
  border-radius: 21.5px;
  padding-left: 18px; }

.enter__password {
  margin-top: 19px; }

.enter__memory {
  margin-top: 28px;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  color: #333333; }

.enter__label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  color: #333333;
  cursor: pointer;
  float: left; }

.enter__button {
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ea6c47;
  border-radius: 21.5px;
  padding: 15px 59px;
  width: 159px;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 28px; }

.enter__help {
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  color: #ea6c47;
  text-decoration: none;
  margin-top: 36px; }

.registration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; }
  .registration__img {
    overflow: hidden;
    width: 165px;
    height: 165px;
    margin-top: 39px; }
  .registration__subtittle {
    text-decoration: none;
    margin-top: 42px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #333333; }

.social {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  margin-top: 49px; }
  .social::before {
    position: absolute;
    content: "";
    width: 244px;
    height: 1px;
    background-color: #e6e5e7;
    top: 10px;
    left: -5px; }
  .social::after {
    position: absolute;
    content: "";
    width: 244px;
    height: 1px;
    background-color: #e6e5e7;
    top: 10px;
    right: -5px; }
  .social__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #333333; }
  .social ul {
    -webkit-padding-start: 0;
    padding-inline-start: 0; }
  .social__link {
    display: -webkit-box;
    display: flex;
    list-style: none;
    margin-left: -22px;
    margin-top: 27px; }
    .social__link img {
      width: 40px;
      height: 40px;
      margin-left: 22px; }
