.rss {
  background: url(../img/rss_bg.png) no-repeat center;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
  background-size: cover; }
  .rss__wrapp {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center; }
  .rss__title {
    color: #ffffff;
    line-height: 33px; }
    .rss__title h2 {
      font-family: Roboto;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      -webkit-margin-after: 0;
      margin-block-end: 0; }
    .rss__title p {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.8;
      -webkit-margin-before: 0;
      margin-block-start: 0; }
  .rss__form {
    display: -webkit-box;
    display: flex; }
  .rss__input {
    background-color: #ffffff;
    border: 1.0px solid #ebe5e5;
    border-radius: 3.0px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #777777;
    padding: 7px 158px 7px 22px;
    margin-right: 30px;
    outline: none; }
  .rss__button {
    background-color: #ffffff;
    border-radius: 26px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #948ee4;
    border: none;
    padding: 9.5px 37px;
    outline: none; }
