@charset "UTF-8";
/*Лента слайдов*/
.slider {
  padding: 12px 0; }
  .slider > .slick-arrow {
    display: none;
    font-size: 0; }
  .slider > .slick-list > .slick-track {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start; }
    .slider > .slick-list > .slick-track > .slick-slide {
      width: 1000px; }
      .slider > .slick-list > .slick-track > .slick-slide img {
        width: 100%; }
  .slider > .slick-list {
    overflow: hidden; }
  .slider__item {
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    outline: none; }
  .slider__title {
    position: absolute;
    top: 166px;
    left: 98px;
    font-family: Roboto;
    font-size: 33px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #7777cf;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0; }
  .slider__subtitle {
    position: absolute;
    top: 230px;
    left: 98px;
    font-family: Roboto;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: #777777;
    text-align: left;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    max-width: 50%; }
